[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-dotenv = "*"
firebase-admin = "*"
prettytable = "*"
todoist-python = "*"
install = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pytest = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.8"

